<div class="row large-12">
	<h1 ng-bind="room.name"></h1>
  <div data-alert class="alert-box warning" ng-show="room.status == 2">Room is closed. Only history may be viewed.</div>
  <fieldset>
    <legend>Chat box (messages)</legend>
    <div ng-repeat="msg in messages">
	    <div class="message" ng-class="{light:{{$index}} % 2 == 0, dark:{{$index}} % 2 == 1}">
	     <div class="message-date" ng-bind="msg.date | date:'yyyy-MM-dd HH:mm:ss'"/>
	     <div class="message-content">
		<img ng-src="{{msg.author.avatar}}"/>
	 	<span class="message-text" ng-bind="msg.content" />
	     </div>
	     <div class="author-username" ng-bind="msg.author.username"/>
	    </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Send message</legend>
    <input type="hidden" name="author-username" ng-model="author" />
    <input type="text" class="msg" name="msg" ng-model="draft" ng-disabled="room.status == 2" />
    <button class="send left" ng-click="send()" ng-disabled="room.status == 2">Send</button>
  </fieldset>

  <button class="leave secondary left" ng-click="leave()">Leave room</button>
  <button class="leave alert right" ng-click="close()" ng-disabled="room.status == 2">Close room</button>
</div>
