<div class="row large-12">
	<h1 ng-bind="room.name"></h1>

  <fieldset>
    <legend>Chat box (messages)</legend>
    <ul>
      <li ng-repeat="msg in messages"><span ng-bind="msg.date" /> - <span ng-bind="msg.content" /></li>
    </ul>
  </fieldset>

  <fieldset>
    <legend>Send message</legend>
    <input type="text" class="msg" name="msg" ng-model="draft" />
    <button class="send" ng-click="send()">Send</button>
  </fieldset>

  <button class="leave secondary right" ng-click="leave()">Leave room</button>
</div>