<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}{% endblock %}</title>

    {% block styles %}{% endblock %}
</head>
<body>
    <span id="welcomeLabel" style="display:none;">Hello, </span>
    <span id="nameLabel" style="display:none;">Anonymouse</span>
    <span id="signinButton">
	  <span
	    class="g-signin"
	    data-callback="signinCallback"
	    data-clientid="271716933050-10p1gjdnajicq9fm389q67u6kt7l6cd1.apps.googleusercontent.com"
	    data-cookiepolicy="single_host_origin"
	    data-scope="profile">
	  </span>
    </span>

    {% block content %}{% endblock %}
    

    {% block footer %}
    <hr>
    <p>Thanks for using this awsome tool.</p>
    {% endblock %}

<!-- Place this asynchronous JavaScript just before your </body> tag -->
    <script type="text/javascript">
      /*(function() {
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
       po.src = 'https://apis.google.com/js/client:plusone.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
     })();
       
	function signinCallback(authResult) {
	  if (authResult['status']['signed_in']) {
	    // Update the app to reflect a signed in user
	    // Hide the sign-in button now that the user is authorized, for example: 
	    profile();
	    document.getElementById('nameLabel').setAttribute('style', 'display: inline');
	    document.getElementById('welcomeLabel').setAttribute('style', 'display: inline');
	    document.getElementById('signinButton').setAttribute('style', 'display: none');
	   
	  } else {
	    // Update the app to reflect a signed out user
	    // Possible error values:
	    //   "user_signed_out" - User is signed-out
	    //   "access_denied" - User denied access to your app
	    //   "immediate_failed" - Could not automatically log in the user
	    console.log('Sign-in state: ' + authResult['error']);
	  }
	}
      profile: function(){
      var request = gapi.client.plus.people.get( {'userId' : 'me'} );
      request.execute( function(profile) {
        $('#nameLabel').empty();
        if (profile.error) {
          $('#nameLabel').append(profile.error);
          return;
        }
        $('#nameLabel').append(profile.displayName);
        }
      });
    }*/

    </script>

    {% block scripts %}{% endblock %}
</body>
</html>
