{% extends "base.html" %}

{% block title %}Corpo Chat{% endblock %}

{% block content %}

<div ng-app="corpoApp" ng-controller="SessionCtrl">
  <div class="fixed">

    <nav class="top-bar" data-topbar>
      <topbar></topbar>
    </nav>
  </div>

  <div ng-view></div>
</div>
{% endblock %}


{% block styles %}
{% load staticfiles %}

<link rel="stylesheet" href="{% static "components/Foundation/css/normalize.css" %}" />
<link rel="stylesheet" href="{% static "components/Foundation/css/foundation.css" %}" />
<link rel="stylesheet" href="{% static "components/foundation-icons/foundation-icons.css" %}" />
<link rel="stylesheet" href="{% static "styles/app.css" %}" />

{% endblock %}

{% block scripts %}
{% load staticfiles %}

<script src="{% static "components/jquery/jquery.min.js" %}"></script>
<script src="{% static "components/angularjs/angular.min.js" %}"></script>
<script src="{% static "components/angularjs/angular-route.js" %}"></script>
<script src="{% static "components/modernizr/modernizr.min.js" %}"></script>
<script src="{% static "components/underscorejs/underscore-min.js" %}"></script>
<script src="{% static "components/restangular/restangular.min.js" %}"></script>
<script src="{% static "components/Foundation/js/foundation.min.js" %}"></script>
<script src="{% static "components/socket.io/socket.io.js" %}"></script>
<script src="{% static "components/angular-socket-io-master/socket.js" %}"></script>
<script src="{% static "components/oauth/OAuth.js" %}"></script>


<script src="{% static "scripts/app.js" %}"></script>
<script src="{% static "scripts/services/session.js" %}"></script>
<script src="{% static "scripts/services/broker.js" %}"></script>
<script src="{% static "scripts/directives/misc.js" %}"></script>
<script src="{% static "scripts/directives/topbar.js" %}"></script>
<script src="{% static "scripts/controllers/rooms.js" %}"></script>
<script src="{% static "scripts/controllers/room.js" %}"></script>
<script src="{% static "scripts/controllers/session.js" %}"></script>
<script src="{% static "scripts/controllers/new.js" %}"></script>

<script>
  $
  $(document).foundation();
	OAuth.initialize('oAvQ7MB206sgXfqBfrKf80DMYps');
  
</script>

{% endblock %}
